*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;;
}

:root{
  --grdWhite: linear-gradient(45deg, rgb(201, 201, 201) 35%, rgb(238, 238, 238));
  --grdBlack: linear-gradient(45deg, rgb(14, 15, 14)35%, rgb(34, 29, 29), rgb(58, 59, 58));
  --mainBlack: rgb(14, 15, 14);
  --mainRed:  rgb(160, 0, 21);
  --mainCrimson: rgb(175, 18, 39);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.subtitle{
  color: rgb(175, 18, 39)!important;
  text-transform: capitalize;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.tb{
  border: 1px solid blue;
}

.tr{
  border: 1px solid red;
}
.ty{
  border: 1px solid yellow;
}
.tg{
  border: 1px solid green;
}
.tw{
  border: 1px solid white;
}
